@import '../../theme/palette';

.podcastComponent {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 50px 60px;
    background-color: $palettePad;
    font-family: Arial, Verdana, sans-serif;//'Lucida Sans',Helvetica

    [type='text'], [type='email'] {
        width: 100%;
        padding: .08em .3em;
        border: 0;
        outline: 0;
        box-shadow: $paletteLightShadow;
        color: $paletteGrey;
        font-size: .9em;

        &::placeholder {
            color: darken($paletteLightGrey, 10%);
            font-size: .9em;
            font-weight: normal;
        }
    }

    select {
        border: 0;
        outline: 0;
        background-color: $paletteWhite;
        box-shadow: $paletteLightShadow;
        color: $paletteGrey;

        &::placeholder {
            color: darken($paletteLightGrey, 10%);
        }
    }

    .btnEdit, .btnSave, .btnCancel, .btnPush {
        position: absolute;
        width: 80px;
        height: 28px;
        border-radius: 2px;
        outline: 0;
        color: $paletteWhite;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 15px;
        cursor: pointer;

        &.btnEdit, &.btnSave {
            top: 30px;
            right: 30px;
            border: 1px solid $paletteBlue;
            background-color: $paletteBlue;

            &:hover {
                transition: all .15s ease-in;
                border: 1px solid darken($paletteBlue, 5%);
                background-color: darken($paletteBlue, 5%);
            }
        }

        &.btnCancel {
            top: 30px;
            right: 130px;
            border: 1px solid $paletteGrey;
            background-color: $paletteGrey;

            &:hover {
                transition: all .15s ease-in;
                border: 1px solid darken($paletteGrey, 8%);
                background-color: darken($paletteGrey, 8%);
            }
        }

        &.btnPush {
            top: 30px;
            right: 130px;
            border: 1px solid $paletteGreen;
            background-color: $paletteGreen;

            &:hover {
                transition: all .15s ease-in;
                border: 1px solid darken($paletteGreen, 8%);
                background-color: darken($paletteGreen, 8%);
            }
        }
    }

    .header {
        width: 600px;
        margin: 0 0 2.2em;
    }

    .padder {
        display: flex;
        position: relative;
        justify-content: flex-start;
        margin: 0;

        .leftStack {
            width: 170px;
            color: $paletteGrey;

            .fields {
                margin: 0;
                padding: 0;
                list-style: none outside;
                font-size: 12px;

            }
        }

        .centerStack {
            width: 620px;
            margin-left: 30px;
            color: $paletteGrey;

            .description {
                h4 {
                    margin-bottom: 12px;
                    color: $paletteDarkGrey;
                }

                p {
                    margin: 0;
                    font-size: 12px;

                    & textarea {
                        max-width: 56.4em;
                        height: 4em;
                        padding: .5em;
                    }
                }
            }

            .episodesTable {
                position: relative;
                margin-top: 54px;
                padding: 20px 26px 40px 16px;
                border-bottom: 1px solid darken($paletteLightGrey, 1%);
                border-radius: 2px;
                background-color: $paletteLightGrey;

                .headers {
                    display: grid;
                    height: 22px;
                    padding-left: 24px;
                    grid-template-columns: 5% 18% 29% 19% 14% 9%;
                    grid-column-gap: 1.5%;

                    span {
                        font-size: 12px;
                        font-weight: bolder;
                        text-align: left;
                    }
                }

                .episodesList {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                .btnAddEpisode {
                    display: inline-block;
                    position: absolute;
                    bottom: 16px;
                    left: 40px;
                    padding: 0;
                    transition: all .15s ease;
                    border: 0;
                    border-radius: 1px;
                    outline: 0;
                    background-color: transparent;
                    color: $paletteBlue;
                    font-size: 10px;
                    text-decoration: underline;
                    cursor: pointer;
                }

                &.editMode {
                    margin-top: 10px;
                }
            }
        }
    }
}
