@import '../../theme/palette';

.podcastComponent {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 50px 60px;
    background-color: $palettePad;
    font-family: Arial, Verdana, sans-serif;//'Lucida Sans',Helvetica

    [type='text'], [type='email'] {
        width: 100%;
        padding: .08em .3em;
        border: 0;
        outline: 0;
        box-shadow: $paletteLightShadow;
        color: $paletteGrey;
        font-size: .9em;

        &::placeholder {
            color: darken($paletteLightGrey, 10%);
            font-size: .9em;
            font-weight: normal;
        }
    }

    select {
        border: 0;
        outline: 0;
        background-color: $paletteWhite;
        box-shadow: $paletteLightShadow;
        color: $paletteGrey;

        &::placeholder {
            color: darken($paletteLightGrey, 10%);
        }
    }

    .btnEditPodcast, .btnSave, .btnCancel {
        position: absolute;
        width: 80px;
        height: 28px;
        border-radius: 2px;
        outline: 0;
        color: $paletteWhite;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 15px;
        cursor: pointer;

        &.btnEditPodcast, &.btnSave {
            top: 30px;
            right: 30px;
            border: 1px solid $paletteBlue;
            background-color: $paletteBlue;

            &:hover {
                transition: all .15s ease-in;
                border: 1px solid darken($paletteBlue, 5%);
                background-color: darken($paletteBlue, 5%);
            }
        }

        &.btnCancel {
            top: 30px;
            right: 130px;
            border: 1px solid $paletteGrey;
            background-color: $paletteGrey;

            &:hover {
                transition: all .15s ease-in;
                border: 1px solid darken($paletteGrey, 8%);
                background-color: darken($paletteGrey, 8%);
            }
        }
    }

    .header {
        width: 600px;
        margin: 0 0 2.2em;

        //.title {
        //    display: block;
        //    margin: 0;
        //    color: $paletteDarkGrey;
        //    font-size: 22px;
        //    font-weight: bold;
        //    line-height: 28px;
        //}

        //.subtitle {
        //    display: block;
        //    color: $paletteDarkGrey;
        //    font-style: italic;
        //    font-weight: normal;
        //}
        //
        //.author {
        //    display: block;
        //    margin: 6px 0 0;
        //    clear: both;
        //    color: $paletteDarkGrey;
        //    font-size: 17px;
        //    font-weight: bold;
        //    line-height: 24px;
        //}
    }

    .padder {
        display: flex;
        position: relative;
        justify-content: flex-start;
        margin: 0;

        .leftStack {
            width: 170px;
            color: $paletteGrey;

            //.imageElement {
            //    width: 170px;
            //    height: 170px;
            //    margin-bottom: 24px;
            //    box-shadow: $paletteShadow;
            //
            //    &.editMode {
            //        position: relative;
            //
            //        .image {
            //            opacity: .6;
            //
            //            &:hover {
            //                opacity: .8;
            //            }
            //        }
            //
            //        .chooseCover {
            //            position: absolute;
            //            top: 0;
            //            left: 0;
            //            width: 170px;
            //            height: 170px;
            //            opacity: .5;
            //            cursor: pointer;
            //
            //            &:hover {
            //                opacity: .7;
            //            }
            //        }
            //
            //        [type='file'] {
            //            position: absolute;
            //            z-index: -1;
            //            top: 0;
            //            left: 0;
            //            opacity: 0;
            //        }
            //    }
            //}

            .fields {
                margin: 0;
                padding: 0;
                list-style: none outside;
                font-size: 12px;

            }

            //div {
            //    margin: 0;
            //    padding: 0;
            //    list-style: none outside;
            //    font-size: 12px;
            //
            //    div {
            //        line-height: 1.4em;
            //
            //        span {
            //            display: inline-block;
            //            min-width: 65px;
            //            margin-top: .5em;
            //            font-size: .9em;
            //            font-weight: bolder;
            //        }
            //
            //        div {
            //            padding: 0;
            //        }
            //    }
            //}

            //.owner {
            //    margin-top: 5em;
            //
            //    &.editMode {
            //        margin-top: 9px;
            //    }
            //
            //    h5 {
            //        margin-bottom: .8em;
            //        color: $paletteGrey;
            //        font-size: .9em;
            //    }
            //
            //    div {
            //        font-size: 12px;
            //        line-height: 1.4em;
            //    }
            //}
        }

        .centerStack {
            width: 620px;
            margin-left: 30px;
            color: $paletteGrey;

            .description {
                h4 {
                    margin-bottom: 12px;
                    color: $paletteDarkGrey;
                }

                p {
                    margin: 0;
                    font-size: 12px;

                    & textarea {
                        max-width: 56.4em;
                        height: 4em;
                        padding: .5em;
                    }
                }
            }

            .episodesTable {
                position: relative;
                margin-top: 54px;
                padding: 20px 26px 40px 16px;
                border-bottom: 1px solid darken($paletteLightGrey, 1%);
                border-radius: 2px;
                background-color: $paletteLightGrey;

                .headers {
                    display: grid;
                    height: 22px;
                    padding-left: 24px;
                    grid-template-columns: 5% 18% 29% 19% 14% 9%;
                    grid-column-gap: 1.5%;

                    span {
                        font-size: 12px;
                        font-weight: bolder;
                        text-align: left;
                    }
                }

                .episodesList {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                .btnAddEpisode {
                    display: inline-block;
                    position: absolute;
                    bottom: 16px;
                    left: 40px;
                    padding: 0;
                    transition: all .15s ease;
                    border: 0;
                    border-radius: 1px;
                    outline: 0;
                    background-color: transparent;
                    color: $paletteBlue;
                    font-size: 10px;
                    text-decoration: underline;
                    cursor: pointer;
                }

                &.editMode {
                    margin-top: 10px;
                }
            }
        }
    }
}
