@import '../../theme/palette';

.podcastComponent {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 50px 74px;
    background-color: $palettePad;
    font-family: Arial, Verdana, sans-serif;

    .btnEdit, .btnSave, .btnCancel, .btnReturn {
        position: absolute;
        width: 80px;
        height: 28px;
        padding: 0;
        border-radius: 4px;
        outline: 0;
        color: $paletteWhite;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 28px;
        cursor: pointer;

        &.btnEdit, &.btnSave {
            top: 50px;
            right: 75px;
            border: 1px solid $paletteBlue;
            background-color: $paletteBlue;

            &:hover {
                transition: all .15s ease-in;
                border: 1px solid darken($paletteBlue, 5%);
                background-color: darken($paletteBlue, 5%);
            }
        }

        &.btnCancel, &.btnReturn {
            top: 85px;
            right: 75px;
            border: 0;
            background-color: transparent;
            color: $paletteGrey;

            &:active {
                background-color: darken($paletteLightGrey, 2%);
            }
        }
    }

    .header {
        width: 500px;
        margin: 0 0 1.6em;
    }

    .padder {
        display: flex;
        position: relative;
        justify-content: flex-start;
        margin: 0;

        .leftStack {
            width: 170px;
            color: $paletteGrey;

            .fields {
                margin: 0;
                padding: 0;
                list-style: none outside;
                font-size: 12px;

            }
        }

        .centerStack {
            width: 620px;
            margin-left: 30px;
            color: $paletteGrey;

            .table {
                position: relative;
                margin-top: 6px;
                padding: 20px 26px 36px 16px;
                border-bottom: 1px solid darken($paletteLightGrey, 1%);
                border-radius: 2px;
                background-color: $paletteLightGrey;

                .headers {
                    display: grid;
                    height: 22px;
                    padding-left: 26px;
                    grid-template-columns: 20% 30% 20% 15% 9%;
                    grid-column-gap: 1.5%;

                    span {
                        font-size: 12px;
                        font-weight: bolder;
                        text-align: left;
                    }
                }

                .rows {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                .btnAddEpisode {
                    display: inline-block;
                    position: absolute;
                    bottom: 12px;
                    left: 22px;
                    padding: 0 0 0 16px;
                    transition: all .15s ease;
                    border: 0;
                    outline: 0;
                    opacity: .65;
                    background: transparent url('../../theme/assets/plus.svg') no-repeat 0 2px;
                    background-size: 7px;
                    color: $paletteBlue;
                    font-size: 12px;
                    cursor: pointer;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }
    }

    .episodeEnter {
        opacity: .01;
    }

    .episodeEnterActive {
        transition: all .5s ease-in;
        opacity: 1;
    }

    .episodeExit {
        opacity: 1;
    }

    .episodeExitActive {
        transition: all .5s ease-in;
        opacity: .01;

    }

}
