@import '../../theme/palette';

.mainComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 600px;
    padding: 50px 60px;
    color: $paletteDarkGrey;

    ::-webkit-scrollbar {
        display: none;
    }

    section {
        border-radius: 4px;
        box-shadow: $paletteShadow;
    }
}
