@import '../../../theme/palette';

.owner {
    display: block;
    width: 170px;
    margin-top: 10px;


    h5 {
        margin-bottom: .4em;
        color: $paletteGrey;
        font-size: 10px;
    }

    div {
        margin-top: .1em;

        .input {
            width: 158px;
            padding: 0;
            transition: all .15s ease-out;
            border: 0;
            outline: 0;
            background-color: transparent;
            color: $paletteGrey;
            font-size: 12px;
            line-height: 1.4em;

            &::placeholder {
                color: darken($paletteLightGrey, 10%);
                font-size: .9em;
            }

            &.isEdited {
                padding-left: 6px;
                background-color: $paletteWhite;
                box-shadow: $paletteLightShadow;
                color: $paletteGrey;
            }
        }
    }
}
