$paletteWhite: #FFF;
$paletteBlack: #000;

$paletteBrown: #3A302B;
$paletteDarkGrey: #474747;
$paletteGrey: #939292;
$paletteLightGrey: #F6F6F6;
$palettePad: #FFFEF6;
$paletteBlue: #006A8E;
$paletteGreyBlue: #397A93;
$paletteRed: #584455;
$paletteGreyRed: #755A72;

$paletteShadow: 0 8px 15px rgba(0, 0, 0, .05);
