@import '../../../theme/palette';

.author {
    display: block;
    margin: 12px 0 0;
    font-size: 17px;
    font-weight: bold;

    .input {
        width: 100%;
        padding: 0;
        transition: all .15s ease-out;
        border: 0;
        outline: 0;
        background-color: transparent;
        color: $paletteDarkGrey;
        font-weight: bolder;
        line-height: 24px;

        &::placeholder {
            color: darken($paletteLightGrey, 10%);
            font-size: .9em;
            font-weight: normal;
        }

        &.isEdited {
            padding-left: 6px;
            background-color: $paletteWhite;
            box-shadow: $paletteLightShadow;
            color: $paletteGrey;
            font-weight: normal;
        }
    }
}
