@import '../../../theme/palette';

.explicit {
    line-height: 1.4em;

    .caption {
        display: inline-block;
        min-width: 65px;
        margin-top: .5em;
        font-size: 10px;
        font-weight: bolder;
    }

    .input {
        display: inline-block;
        width: 40%;
        padding: 0;
        transition: all .15s ease-out;
        border: 0;
        background-color: transparent;
        color: $paletteGrey;
    }
}
